# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [5]:
#1
s_1={1,2,3,4,5,6,7,8,9,10}
print(s_1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [6]:
#2
s_1.add(11)
s_1.remove(1)
print(s_1)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [16]:
#3
s_2=set(range(1,6))
s_3=set(range(2,11,2))
union= s_2.union(s_3)
intersect= s_2.intersection(s_3)
diff= s_2.difference(s_3)
sym_diff= s_2.symmetric_difference(s_3)
print(union)
print(intersect)
print(diff)
print(sym_diff)

{1, 2, 3, 4, 5, 6, 8, 10}
{2, 4}
{1, 3, 5}
{1, 3, 5, 6, 8, 10}

In [18]:
#4
set_square= {x**2 for x in range(1,11)}
print(set_square)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [19]:
#5
set_square_1= {x**2 for x in range(1,11) if x%2==0}
print(set_square_1)

{64, 100, 4, 36, 16}

In [20]:
#6
set_2={1,2,2,2,2,3,3,4,4,5,5,5}
print(set_2)

{1, 2, 3, 4, 5}

In [25]:
#7
set_3={1,2,3,4,5}
set_4={1,2,3}
set_4.issubset(set_3)
set_3.issuperset(set_4)

True

In [29]:
#8
froz_set=frozenset(range(1,6))
froz_set

frozenset({1, 2, 3, 4, 5})

In [30]:
#9
s = set(range(1, 6))
lst = list(s)
lst.append(6)
s = set(lst)
print(s)

{1, 2, 3, 4, 5, 6}

In [31]:
#10
d = {
    frozenset({1, 2}): 3,
    frozenset({3, 4}): 7,
    frozenset({5, 6}): 11
}
print(d)

{frozenset({1, 2}): 3, frozenset({3, 4}): 7, frozenset({5, 6}): 11}

In [33]:
#11
for x in set_square:
    print(x)

64
1
4
36
100
9
16
49
81
25

In [34]:
#12
s = set(range(1, 6))
while s:
    s.pop()
    print(s)

{2, 3, 4, 5}
{3, 4, 5}
{4, 5}
{5}
set()

In [35]:
#13
print(set_3)
set_3.symmetric_difference_update(set_4)
print(set_3)

{1, 2, 3, 4, 5}
{4, 5}

In [36]:
#14
s = set(range(1, 6))
print(3 in s)
print(6 in s)

True
False

In [37]:
#15
s = { (1, 2), (3, 4), (5, 6) }
print(s)

{(1, 2), (3, 4), (5, 6)}