# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [4]:
#1
tpl=tuple(range(1,11))
print(tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [9]:
#2
first=tpl[0]
middle=tpl[len(tpl)//2]
last=tpl[-1]
print(first)
print(middle)
print(last)

1
6
10

In [23]:
#3
first_three=tpl[0:3]
last_three=tpl[-3::]
two_to_five=tpl[2:6]
print(first_three)
print(last_three)
print(two_to_five)

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)

In [28]:
#4
matrix = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
print("Matrix:")
for row in matrix:
    print(row)
print(f"Element at second row and third column: {matrix[1][2]}")

Matrix:
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
Element at second row and third column: 6

In [32]:
#5
tpl_1=(1,2,3)
tpl_2=(4,5,6)
tpl_3=tpl_1+tpl_2
print(tpl_3)

(1, 2, 3, 4, 5, 6)

In [35]:
#6
tpl_4=(1,1,2,2,2,2,2,3,3,4,4,5,5)
print('Counting no of occurence: ',tpl_4.count(2))
print('Index no of occurence: ',tpl_4.index(4))

Counting no of occurence:  5
Index no of occurence:  9

In [40]:
#7
tpl_1=(1,2,3,4,5)
a, b, c, d, e = tpl_1
print(a, b, c, d, e)

1 2 3 4 5

In [42]:
#8
lst_1=[1,2,3,4,5]
tpl_5=tuple(lst_1)
print(tpl_5)

(1, 2, 3, 4, 5)

In [43]:
#9
big_tple=((1,2,3),(4,5,6),(7,8,9))
print(big_tple)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [46]:
#10
lst_2=list(tpl_1)
lst_2.append(6)
print(lst_2)

[1, 2, 3, 4, 5, 6]

In [50]:
#11
str=('My name is Ak Boiii')
char_tpl=tuple(str)
join_tpl="".join(char_tpl)
print(join_tpl)

My name is Ak Boiii

In [53]:
#12
dict_1={('ak'):27,('sid'):12,('raj'):4}
print(dict_1)

{'ak': 27, 'sid': 12, 'raj': 4}

In [56]:
#13
nest_tpl=((1,2),(3,4),(5,6))
for x in nest_tpl:
    for y in x:
        print(y)

1
2
3
4
5
6

In [57]:
#14
set_1=set(tpl_4)
print(set_1)

{1, 2, 3, 4, 5}

In [66]:
#15
def tple_func(x):
    return max(x)
def tple_func_1(w):
    return min(w)
def tple_func_2(u):
    return sum(u)
    

print(tple_func(tpl_1))
print(tple_func_1(tpl_1))
print(tple_func_2(tpl_1))

5
1
15